@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply bg-gray-100;
}

@layer utilities {
  .neo {
    background: #efeeee;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 6px 6px 16px rgba(209, 205, 199, 0.5),
      -6px -6px 16px rgba(255, 255, 255, 0.5);
  }
}

@layer components {
  .c-card {
    @apply neo rounded-[10px];
  }
}
